<div class="header">
	<div class="col-sm-4">
		<a href="https://jinjiarui.github.io/"><img src="../images/name_chinese.png" href="/" width="220px"
				class="navbar-brand  pull-right" /></a>
	</div>
	<div class="col-sm-8">
		<ul class="nav nav-pills">
			<li class="{{page.home}}"><a href="/" title="Home">HOME</a></li>
			<li class="{{page.publication}}"><a href="/publication" title="publication">publication</a></li>
			<li class="{{page.project}}"><a href="/project" title="Project">PROJECT</a></li>
			<li class="{{page.deadline}}"><a href="/deadline" title="Deadline">Deadline</a></li>
			<li class="{{page.gundam}}"><a href="/gundam" title="Gundam">GUNDAM</a></li>
			<li class="{{page.core}}"><a href="/core" title="Core">CORE</a></li>
		</ul>
	</div>
</div>

<style type="text/css">
	.navbar-brand {
		margin-top: 5px;

		margin-bottom: 15px;
		padding: 1px;
		padding-left: 0px;

		margin-right: 5px;
	}

	.nav-pills {
		margin-top: 10px;
		margin-bottom: 20px;
	}
</style>

<!-- /header -->