<div class="sidebar">
	<table border="0" class="pull-right">
		<tr>
			<td><img src="../images/jiaruijin.jpeg" width="250px" class="pull-right" /></td>
		</tr>
		<tr>
			<td>
				<address class="pull-right">
					<h3><strong>Jiarui (Jerry) Jin, 晋嘉睿</strong><br /></h3>
					Ph.D. Candidate at <a href src="http://apex.sjtu.edu.cn/">Apex Lab</a>,<br />
					<a href src="http://en.sjtu.edu.cn/">Shanghai Jiao Tong University<br /></a>
					310 Yifu Building, <br />
					800 Dongchun Road, <br />
					Shanghai, China 200240<br />
					<abbr title="Email">E:</abbr> jinjiarui97@sjtu.edu.cn<br />
					<abbr title="Email">E:</abbr> jiarui.jin@ucl.ac.uk<br />
					<!-- <abbr title="Email">E:</abbr> jinjiarui97@gmail.com<br /> -->
					<br />
					<font size="2" color="gray">© Update in August. 2022</font>
				</address>
			</td>
		</tr>

	</table>

</div>

<!-- /sidebar -->